.button {
    background-color : #F55E5D;
    text-decoration : none;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    width: 10%;
    height: 70%;
    float: none;
    margin-right: 5%;
    
}
.buttonGlow {
     background-color : #F55E5D;
    text-decoration : none;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    width: 10%;
    height: 70%;
    float: none;
    margin-right: 5%;
    -webkit-animation-name: underscore; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: underscore;
    animation-duration: 4s;
}

@keyframes underscore {
    from {border-bottom-color: none;}
    to {border-bottom-color: black; border-bottom-width:5px; }
}


.buttonInv {
    background-color : #F55E5D;
    text-decoration : none;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    width: 5%;
    float: right;
    margin-top: 1%;
    margin-right: 5%;
}



div.AContainer {
    background-color: white;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
   
}

div.BContainer {
    background-color: white;
    float: left;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

div.header {
    background-color: #F55E5D;
    float: left;
    height: 12%;
    width: 100%;  
    box-shadow: 1px  3px 3px #511111;
}
div.subheader{
    background-color: #FFFFFF;
    float: left;
    height: 7%;
    width: 100%;  
   box-shadow: 1px  3px 3px #511111;
    
}

div.carousel {
    background-color: white;
    float: left;
    height: 90%;
    width: 100%;
}

div.my-slider {
    background-color: #5a0000;
}

div.featured {
    background-color: white;
    float: left;
    height: 150%;
    width: 100%
}
div.footer {
    background-color: #990000;
    float: left;
    height: 20%;
    width: 100%
}

div.box {
    background-color: dimgray;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 70%;
}

div.line {
    background-color: #990000;
    width: 60%;
    height: 4px;
    float: top;
    margin-bottom: 4%;
}

div.wordDiv {
    background-color: white;
    float: left;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    overflow-y: scroll;
}
}

div.text {
    font-family: 'raleway', sans-serif;
    background-color: white;
    width: 80%;
    padding-top: 8%;
}

img.logo{
    width: 20%;
    margin-top: .04%;
    margin-left: 0%;
     
}

img.SLog {
    width: 10%;
    float: right;
    margin-top: 1%;
    margin-right: 5%;
}

img.slide {
    width: 80%;
    margin-left: 10%;
}

img.FPro {
    width: 30%;
    margin-left: 2.3%;
    float: left;
}

#footA {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#car {
    width: 100%;
}

#footB {
    color: white;
    text-decoration: none;
    margin-left: 25%;
   font-family: 'Raleway', sans-serif;
}

#ref {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 20%;
    text-decoration: none;
}

#feat {
    color: white;
    float: top;
    font-family: 'Raleway', sans-serif;
    font-size: 220%;
    margin-top: 2%;
}

p.bulk {
    color: #990000;
    font-family: 'Raleway', sans-serif;
    font-size: 180%;
    text-align: left;
}


.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.white_content {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: darkred;
  z-index: 1002;
  overflow: auto;
}

#close {
    text-decoration: none;
    color: darkred;
    background-color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200%;
}

h2 {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200%;
}